/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body settings */
  body {
    background-color: white;
    margin: 0;
    padding: 0;
    display: block;
    height: 100vh; /* Full viewport height */
  }
  
  /* Game container to hold both the score and the canvas */
  #game-container {
    margin: 50px;  /* Adding margin around the whole container */
    padding: 0;
    position: relative;
    height: calc(100vh - 50px);  /* Adjust height of container */
  }
  
  /* Score container style */
  #score-container {
    font-size: 24px;
    color: black;
    margin-bottom: 20px;  /* Space between the score and canvas */
    text-align: center;
  }
  
  /* Canvas settings */
  canvas {
    background-color: black;
    display: block;
    margin: 0 auto;  /* Horizontally center canvas */
    width: 100%; /* Full width minus margin */
    height: 80vh !important; /* Force height */
    margin-bottom: 50px !important;   /* Increase height (now 80% of the viewport height) */
    cursor: none;
    
  }
  